<!DOCTYPE html>
<html>
  {{> common/head title=data.index.title }}
  <body>

    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quidem odit saepe nostrum aut veniam, totam aperiam iusto quia facilis. <br><br>
      {{> common/svg icon="menu"}}
      {{> common/svg icon="arrow-down"}}
      <br><br>
      {{> dummy-component/dummy-component }}
    </div>

    {{> common/jsfooter }}
  </body>
</html>